In [1]:
lis=[3,6,2,1,4]
print(lis[0:3])

[3, 6, 2]

In [2]:
lis=[3,6,2,1,4]
print(lis[0:])

[3, 6, 2, 1, 4]

In [4]:
lis=[3,6,2,1,4]
print(lis[0:5:2])   #(start,stop,step)

[3, 2, 4]

In [7]:
lis=[3,6,2,1,4]
print(lis[5::-1])

[4, 1, 2, 6, 3]

In [8]:
a,b=2,4
print(a)
print(b)

2
4

In [9]:
lis=[3,6,2,1,4]
print(sum(lis))

16

In [12]:
for x in range(3):
    print(x)

0
1
2

In [13]:
for x in range(0,3):
    print(x)

0
1
2

In [14]:
for x in range(1,3):
    print(x)

1
2

In [16]:
for x in range(1,10): #(start,stop)
    print(x)

1
2
3
4
5
6
7
8
9

In [15]:
for x in range(1,10,2): #(start,stop,step)
    print(x)

1
3
5
7
9

In [17]:
for x in range(10,0,-1): #(start,stop,step)
    print(x)

10
9
8
7
6
5
4
3
2
1

In [18]:
for x in range(1,11): #(start,stop,step)
    print(x)

1
2
3
4
5
6
7
8
9
10

In [19]:
dict={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sum1=0;
sum2=0;

for k in dict:
    print(k)

Ali Raza
Ahmad

In [20]:
dict={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sum1=0;
sum2=0;

for k in dict.items():
    print(k)

('Ali Raza', [80, 60, 95, 50])
('Ahmad', [80, 90, 60, 45])

In [21]:
dict={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sum1=0;
sum2=0;

for k,v in dict.items():
    print(k)
    print(v)

Ali Raza
[80, 60, 95, 50]
Ahmad
[80, 90, 60, 45]

In [23]:
dict={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sum1=0
sum2=0
avg1=0
avg2=0
for k,v in dict.items():
    for e in v:
        if (k=='Ali Raza'):
            sum1+=e
        elif (k=='Ahmad'):
            sum2+=e
    if (k=='Ali Raza'):
        avg1=sum1/len(v)
        print(f"Average Marks of {k} is {avg1}")
    elif (k=='Ahmad'):
        avg2=sum2/len(v)
        print(f"Average Marks of {k} is {avg2}")

Average Marks of Ali Raza is 71.25
Average Marks of Ahmad is 68.75

In [26]:
dict={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sum1=0
sum2=0
avg1=0
avg2=0
for k,v in dict.items():
    if (k=='Ali Raza'):
        sum1+=sum(v)
    elif (k=='Ahmad'):
        sum2+=sum(v)
    if (k=='Ali Raza'):
        avg1=sum1/len(v)
        print(f"Average Marks of {k} is {avg1}")
    elif (k=='Ahmad'):
        avg2=sum2/len(v)
        print(f"Average Marks of {k} is {avg2}")

Average Marks of Ali Raza is 71.25
Average Marks of Ahmad is 68.75

In [2]:
data={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sums={}
for k,v in data.items():
    sums[k]=sum(v)    #{'Ali Raza':sum(v),'Ahmad':sum(v)}
print(sums)

{'Ali Raza': 285, 'Ahmad': 275}

In [6]:
data={
    'Ali Raza':[80,60,95,50],
    'Ahmad':[80,90,60,45]
}

sums={}
for k,v in data.items():
    sums[k]=sum(v)    #{'Ali Raza':sum(v),'Ahmad':sum(v)}
    avg=sums[k]/len(v)
    print(f"{k} average is : {avg}")

Ali Raza average is : 71.25
Ahmad average is : 68.75

In [12]:
for x in range(10):
    if (x>5):
        print("Yes")

Yes
Yes
Yes
Yes

In [11]:
d=[print('yes') for x in range(10) if (x>5)] #{statement for each loop if condition}
print(d)

yes
yes
yes
yes
[None, None, None, None]

In [13]:
for x in range(10):
    if (x>5):
        print("Yes")
    else:
        print("No")

No
No
No
No
No
No
Yes
Yes
Yes
Yes

In [14]:
d=[print('yes') if (x>5) else print("No") for x in range(10) ]  #{statement if condition else statement for each loop }
print(d)

No
No
No
No
No
No
yes
yes
yes
yes
[None, None, None, None, None, None, None, None, None, None]

In [2]:
d=['yes' if (x>5) else "No" for x in range(10) ]  #{statement if condition else statement for each loop }
print(d)

['No', 'No', 'No', 'No', 'No', 'No', 'yes', 'yes', 'yes', 'yes']

In [1]:
d=('yes' if (x>5) else "No" for x in range(10) )  #{statement if condition else statement for each loop }
for v in d:
    print(v)

No
No
No
No
No
No
yes
yes
yes
yes

In [1]:
d=('yes' if (x>5) else "No" for x in range(10) )  #{statement if condition else statement for each loop }
print(next(d))
print(next(d))
print(next(d))
print(next(d))
print(next(d))
print(next(d))
print(next(d))
print(next(d))
print(next(d))
print(next(d))

No
No
No
No
No
No
yes
yes
yes
yes

In [1]:
d=('yes' if (x>5) else "No" for x in range(10) )  #{statement if condition else statement for each loop }
print(next(d))

No

In [3]:
a=[2,3,4,5]

if any(c>5 for c in a):
    print("Data is Found")
else:
    print("Data is not Found")

Data is not Found

In [6]:
a=['LG','Nokia','Samsung','Motorolla']

if any(c=='Nokia' for c in a):
    print("Data is Found")
else:
    print("Data is not Found")

Data is Found

In [8]:
a=['LG','Nokia','Samsung','Motorolla']
b=['Hp','dELL','Samsung','Mi']

if any(c=='Nokia' or x=='Acer' for c in a for x in b):
    print("Data is Found")
else:
    print("Data is not Found")

Data is Found

In [9]:
a=['LG','Nokia','Samsung','Motorolla']
b=['Hp','dELL','Samsung','Mi']
# any (condition for each loops)
if any(c=='Nokia' and x=='Acer' for c in a for x in b):  # any is iterable
    print("Data is Found")
else:
    print("Data is not Found")

Data is not Found

In [14]:
a=['LG','Nokia','Samsung','Motorolla']
b=['Hp','dELL','Samsung','Mi']

for x in a:
    for d in b:
        if (x=='Nokia' or d=='Hp'):
            break
        else:
            print("Data not found")

In [23]:
a=['LG','Nokia','Samsung','Motorolla']
b=['Hp','dELL','Samsung','Mi']

for x in a:
    for d in b:
        if (x in'Nokia' or d in 'Hp'):
            print ('Found')
        else:
            print("Data not found")

Found
Data not found
Data not found
Data not found
Found
Found
Found
Found
Found
Data not found
Data not found
Data not found
Found
Data not found
Data not found
Data not found

In [24]:
a=['LG','Nokia','Samsung','Motorolla']
b=['Hp','dELL','Samsung','Mi']
if ('Nokia' in a or 'Hp' in b):
    print ('Found')
else:
    print("Data not found")

Found

In [16]:
for x in range(10):
    if (x>5):
        break
    else:
        print("No")

print("After Break loop will be terminated")

No
No
No
No
No
No
After Break loop will be terminated

In [21]:
for x in range(10):
    if (x>5):
        pass
        print(x)
    else:
        print("No")

No
No
No
No
No
No
6
7
8
9

In [20]:
for x in range(10):
    if (x>5):
        continue
        print(x)
    else:
        print("No")

No
No
No
No
No
No